# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
coverage/

# Vite and logs
vite.svg
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.development
.env.test
.env.production

# Editor settings
.vscode/
.idea/
.DS_Store
Thumbs.db
.vercel
.env*
